* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.formWindow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 30px;
}

.colorFormWindow {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    z-index: 1;
}

.paletteColor {
    border-radius: 10px;
    background-color: whitesmoke;
    width: 210px;
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.blue {
    border: 3px solid lightblue;
    background-color: #94C0DF;
    width: 60px;
    height: 60px;
    margin: 22px;
    border-radius: 50%;
}

.red {
    border: 3px solid pink;
    background-color: red;
    width: 60px;
    height: 60px;
    margin: 22px;
    border-radius: 50%;
}

.yellow {
    border: 3px solid lightyellow;
    background-color: yellow;
    width: 60px;
    height: 60px;
    margin: 22px;
    border-radius: 50%;
}

.pink {
    border: 3px solid white;
    background-color: pink;
    width: 60px;
    height: 60px;
    margin: 22px;
    border-radius: 50%;
}

label {
    display: block;
    text-align: center;
}

input {
    margin-top: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.btnPanel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn {
    width: 45px;
    background-color: white;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 10px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.containerName {
    background-color: #94C0DF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameApp {
    background-color: #94C0DF;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    font-weight: bolder;
    margin-top: 50px;
}

.frmSearch {
    background-color: #94C0DF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.iconSearch {
    background-color: #94C0DF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=search] {
    border: none;
    margin: 15px 0px;
    width: 0px;
    position: relative;
    left: 10px;
    text-align: right;
    display: none;
}

.windowApp {
    background-color: #C6F5ED;
}

.windowApp::after {
    content: "";
    clear: both;
    display: table;
}

.ltrNavBar {
    border: 1px solid black;
    width: 10%;
    float: left;
    display: flex;
    flex-direction: column;
}

.ltrLabel {
    background-color: #94C0DF;
    border: 1px solid black;
    height: 30px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ltrLabel:hover {
    height: 45px;
    box-shadow: 0px -3px 5px grey;
}

.listWindow {
    width: 90%;
    float: left;
    border: 1px solid black;
}

.bckButton {
    margin: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    display: none;
}

.contactListWindow {
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}

.listWindow::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    background-color: #DFF9FA;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    display: block;
    box-shadow: 5px 2px 15px rgba(0,0,0,0.19);
}

.cardButtons {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin-top: 5px;
}

.editButton, .cancelButton {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    text-transform: lowercase;
    text-align: end;
}

.data::first-letter {
    text-transform: capitalize;
}

.btnColor{
    font-weight: bolder;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9FF;
}

.btnNew {
    font-weight: bolder;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78F584;
}

.btnColor:hover, .editButton:hover, .cancelButton:hover, .btnNew:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

ion-icon[name="ios-brush"] {
    color: #5C7DC4;
    font-size: 30px;
  }

ion-icon[name="ios-add-circle-outline"] {
    color: #CDFFCC;
    font-size: 50px;
  }

ion-icon[name="ios-search"] {
    color: #BAF2F5;
    font-size: 30px;
}