* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.formWindow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    padding: 30px;
}

label {
    display: block;
    text-align: center;
}

input {
    margin-top: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.btnPanel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn {
    width: 45px;
    background-color: white;
    height: 45px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 10px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nameApp {
    border: 1px solid black;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 55px;
    font-weight: bolder;
}

.frmSearch {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.iconSearch {
    border: 1px solid black;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=search] {
    border: 1px solid black;
    width: 100px;
}

.windowApp {
    border: 1px solid black;
}

.windowApp::after {
    content: "";
    clear: both;
    display: table;
}

.ltrNavBar {
    border: 1px solid black;
    width: 10%;
    float: left;
    display: flex;
    flex-direction: column;
}

.ltrLabel {
    border: 1px solid black;
    height: 30px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ltrLabel:hover {
    height: 45px;
    box-shadow: 0px -3px 5px grey;
}

.listWindow {
    width: 90%;
    float: left;
    border: 1px solid black;
}

.bckButton {
    margin: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    display: none;
}

.contactListWindow {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}

.listWindow::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    border: 1px solid black;
    display: block;
    box-shadow: 5px 2px 15px rgba(0,0,0,0.19);
}

.data {
    text-transform: lowercase;
    text-align: end;
}

.data::first-letter {
    text-transform: capitalize;
}

.btnColor{
    font-weight: bolder;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnNew {
    font-weight: bolder;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnNew:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}